<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>KoladaMCP</string>
  <key>CFBundleDisplayName</key>
  <string>KoladaMCP</string>
  <key>CFBundleIdentifier</key>
  <string>com.mycompany.kolada-mcp</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CFBundleExecutable</key>
  <string>kolada_launcher</string>
  <key>NSHighResolutionCapable</key>
  <true />
  <key>LSUIElement</key>
  <string>1</string>
  <!-- LSUIElement=1 to hide the Dock icon if you want a background-only app -->
</dict>
</plist>
